@model IEnumerable<MVCPratice.Models.test>

@{
    ViewBag.Title = "Index";
}

<h2>問題反應單</h2>

<p>
    <input type="button" value="新增表單" onclick="location.href='@Url.Action("Create")'">
    <!------@Html.ActionLink("Create New", "Create")--->
</p>
<table class="table">
    <tr>
        <th>
            <label>姓名</label>
        </th>
        <th>
            <label>信箱</label>
        </th>
        <th>
            <label>反應問題</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
         <td>
        @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.ID })
    </td>
    </tr>
    }

</table>
